:root {
  --header-height: 70px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0 !important;
}

/* carousel */
.alice-carousel__prev-btn {
  position: absolute;
  top: 45%;
  width: auto !important;
}

.alice-carousel__next-btn {
  right: 0;
  position: absolute;
  top: 45%;
  width: auto !important;
}

.alice-carousel__next-btn-wrapper,
.alice-carousel__prev-btn-wrapper {
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alice-carousel__dots {
  margin-top: 0 !important;
}

.alice-carousel__prev-btn-item,
.alice-carousel__next-btn-item {
  background-color: #f0f0f0;
  color: #4e54bf !important;
  border: #4e54bf 2px solid;
  font-size: 40px;
  font-weight: bolder;
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 100%;
  transition: background-color 0.3s, color 0.3s;
}

.alice-carousel__next-btn-item:hover {
  background-color: #4e54bf;
  color: #f0f0f0 !important;
}

.alice-carousel__prev-btn-item:hover {
  background-color: #4e54bf;
  color: #f0f0f0 !important;
}
