:root {
  --header-height: 70px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0 !important;
}

/* carousel */
.alice-carousel__prev-btn {
  position: absolute;
  top: 45%;
  width: auto !important;
}

.alice-carousel__prev-btn-wrapper {
  background-color: white;
  border: 1px solid blue;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 100%;
}

.alice-carousel__prev-btn-wrapper:hover {
  background-color: red;
}

.alice-carousel__prev-btn-wrapper:hover .alice-carousel__prev-btn-item {
  color: yellow;
}

.alice-carousel__next-btn {
  right: 0;
  position: absolute;
  top: 45%;
  width: auto !important;
}

.alice-carousel__next-btn-wrapper {
  background-color: white;
  border: 1px solid blue;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 100%;
}

.alice-carousel__next-btn-wrapper:hover {
  background-color: red;
}

.alice-carousel__dots {
  margin-top: 0 !important;
}
